:focus {
  box-shadow: none;
  outline: none;
}

.keyboard-focus :focus {
  box-shadow: 0 0 2px 1px #00cdcb;
}

* {
  font-family: CircularStd, Arial, Helvetica, sans-serif;
}

html,
body,
#root,
#root > div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  color: #171717;
  flex: 1;
  min-height: 100%;
}
